In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.1.1-cp39-cp39-win_amd64.whl (365 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
conn = pymongo.MongoClient('mongodb://localhost:27017')

In [3]:
# mydb Database 생성/사용 및 객체 선언 
mydb = conn.mydb

In [9]:
# Collection 생성 및 객체 선언
emp_python = mydb.emp_python

In [11]:
# 1개 데이터 입력

#mydb_emp.insert_one( { "empid":"bcd001", "name" : "이정재", "age": 45, "teamname" : "인사부" } )

for i in emp_python.find():
  print(i)

{'_id': ObjectId('62d507617dc333f8785807e0'), 'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507617dc333f8785807e1'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507667dc333f8785807e2'), 'name': 'SCOTT', 'hp': '010-1212-3434', 'dept': '개발팀', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507cf7dc333f8785807e3'), 'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}

In [35]:
# 1개 이상의 데이터 입력

emp_python.insert_many(
    [
      { "name" : "박나래", "age":34, "dept" : "아티스트팀" },
      { "name" : "전현무", "age":43, "dept" : "아티스트팀" },
      { "name" : "화사", "age":29, "dept" : "아티스트팀" },
      { "name" : "윤여정", "age":71, "dept" : "가수팀" }
    ]
)

for i in emp_python.find():
  print(i)

{'_id': ObjectId('62d507617dc333f8785807e0'), 'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507617dc333f8785807e1'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507667dc333f8785807e2'), 'name': 'SCOTT', 'hp': '010-1212-3434', 'dept': '개발팀', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507cf7dc333f8785807e3'), 'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}
{'_id': ObjectId('62d50c599c32be385649b966'), 'name': '박나래', 'age': 34, 'dept': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b967'), 'name': '전현무', 'age': 43, 'dept': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b968'), 'name': '화사', 'age': 29, 'dept': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b969'), 'name': '윤여정', 'age': 71, 'dept': '가수팀'}

In [36]:
for i in emp_python.find( {"age" : {'$gt' : 40}}): # $gt : 지정된 값보다 큰 값과 일치
    print(i)

{'_id': ObjectId('62d50c599c32be385649b967'), 'name': '전현무', 'age': 43, 'dept': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b969'), 'name': '윤여정', 'age': 71, 'dept': '가수팀'}

### 나이 +3

In [40]:
emp_python.update_many({'age' : {'$gt' : 40}}, {'$inc': {'age': 3}})

In [41]:
for i in emp_python.find( {"age" : {'$gt' : 40}}): # $gt : 지정된 값보다 큰 값과 일치
    print(i)

{'_id': ObjectId('62d50c599c32be385649b967'), 'name': '전현무', 'age': 46, 'dept': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b969'), 'name': '윤여정', 'age': 74, 'dept': '가수팀'}

In [42]:
emp_python.delete_many({'name':'전현무'})

In [43]:
result = emp_python.find()

for r in result:
    print(r)

{'_id': ObjectId('62d507617dc333f8785807e0'), 'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507617dc333f8785807e1'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507667dc333f8785807e2'), 'name': 'SCOTT', 'hp': '010-1212-3434', 'dept': '개발팀', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62d507cf7dc333f8785807e3'), 'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}
{'_id': ObjectId('62d50c599c32be385649b966'), 'name': '박나래', 'age': 34, 'dept': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b968'), 'name': '화사', 'age': 29, 'dept': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b969'), 'name': '윤여정', 'age': 74, 'dept': '가수팀'}

In [55]:
result = emp_python.find({}, {'_id':0}).limit(4)

for r in result:
    print(r)

{'name': 'MARTIN', 'hp': '010-4312-7856', 'status': '임시직', 'retire_yn': 'N'}
{'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'name': 'SCOTT', 'hp': '010-1212-3434', 'status': '정규직', 'retire_yn': 'N', 'unit': '개발팀'}
{'name': 'PYTHON', 'hp': '010-1111-2222', 'status': '임시직', 'retire_yn': 'Y'}

In [48]:
emp_python.update_many( {}, {'$rename' : {'dept' : 'unit' }})

In [49]:
result = emp_python.find({}, {'unit' : 1})

for r in result:
    print(r)

{'_id': ObjectId('62d507617dc333f8785807e0')}
{'_id': ObjectId('62d507617dc333f8785807e1')}
{'_id': ObjectId('62d507667dc333f8785807e2'), 'unit': '개발팀'}
{'_id': ObjectId('62d507cf7dc333f8785807e3')}
{'_id': ObjectId('62d50c599c32be385649b966'), 'unit': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b968'), 'unit': '아티스트팀'}
{'_id': ObjectId('62d50c599c32be385649b969'), 'unit': '가수팀'}

In [56]:
emp_python.create_index([('name', pymongo.TEXT), ('hp', pymongo.ASCENDING)])

'name_text_hp_1'

In [59]:
emp_python.index_information()


# ASCENDING : 1 , DESCENDING : -1

# 'key': [('_fts', 'text'), ('_ftsx', 1), ('hp', 1)], 

# age는 지정해주지 않아서 '_ftsx', 1 되어 있음.

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'name_text_hp_1': {'v': 2,
  'key': [('_fts', 'text'), ('_ftsx', 1), ('hp', 1)],
  'weights': SON([('name', 1)]),
  'default_language': 'english',
  'language_override': 'language',
  'textIndexVersion': 3}}

In [58]:
result = emp_python.find({'$text' : {'$search' : '박나래 ALLEN'}} )
for record in result:
    print(record)

{'_id': ObjectId('62d507617dc333f8785807e1'), 'name': 'ALLEN', 'hp': '010-5678-1234', 'status': '정규직', 'retire_yn': 'N'}
{'_id': ObjectId('62d50c599c32be385649b966'), 'name': '박나래', 'age': 34, 'unit': '아티스트팀'}